h3 {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 32px;
    text-transform: uppercase;
}
p{
  margin-left: 6px;
}
.containerBox {
  display: inline-flex;
  margin: 60px 0px 20px 40px;
}

.sizeBox {
  align-items: center;
  display: flex;
  height: 230px;
  justify-content: center;
  margin: 8px;
  width: 150px;
  background-image: url('../../assets/placeholder.png');
  background-position: center;
  background-repeat: no-repeat;
}
